.idol-box-icon {
  border-radius: 5px;
  border: solid;
  border-width: 2px;
  padding: 3px;
  margin: 5px;
  flex: 0;
  min-height: 35px;
  max-height: 35px;
  min-width: 35px;
  max-width: 35px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.idol-image-icon {
  border-radius: 5px;
  background-size: contain;
  height: 35px;
  width: 35px;
}
.idol-name-box-icon {
  display: none;
}
.unit-list-icon {
  padding: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.unit-table-icon {
  border: solid;
  padding: 5px;
  margin: 5px;
  min-width: 30%;
  max-width: 50%;
  border-radius: 5px;
  flex: 1;
}
.unit-name-view-icon {
  border: solid;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.unit-name-box-icon {
  font-size: 0.7em;
  display: table;
  padding: 5px;
  border-radius: 5px;
}

.filter-checkbox-type-icon {
  flex: 1;
  border: solid;
  width: 90px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.filter-checkbox-type-icon.filterCheckbox-princess {
  border-color: #ff2383;
}
.filter-checkbox-type-icon.filterCheckbox-princess.checked {
  background-color: #ff2383;
}
.filter-checkbox-type-icon.filterCheckbox-fairy {
  border-color: #025efd;
}
.filter-checkbox-type-icon.filterCheckbox-fairy.checked {
  background-color: #025efd;
}
.filter-checkbox-type-icon.filterCheckbox-angel {
  border-color: #ffbb00;
}
.filter-checkbox-type-icon.filterCheckbox-angel.checked {
  background-color: #ffbb00;
}
.filter-checkbox-type-icon.filterCheckbox-selecting {
  border-color: #88ff88;;
}
.filter-checkbox-type-icon.filterCheckbox-selecting.checked {
  background-color: #88ff88;
}
.type-name-box-icon {
  flex: 1;
  min-height: 20px;
  font-size: 0.7em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changestyle-box-icon {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: table;
  border: solid;
  border-color: #ccc;
  width: 90px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.changestyle-box-icon.checked{
  background-color: #ccc;
}
.changestyle-name-box-icon {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 0.7em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
