.header {
  background-color: rgb(60, 60, 60);
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}
.header-title-box {
  color: rgba(255, 255, 255, 1);
}
.header-title-box:hover {
  color: rgba(226, 226, 226, 1);
}
.header-menu-view {
  color: #fff;
}

.idol-box, .idol-box-small {
  background-color: rgba(255, 255, 255, 1);
}
.idol-name-box, .idol-name-box-small {
  background-color: rgba(255, 255, 255, 0.75);
}
.unit-table, .unit-table-small, .unit-table-icon {
  border-color: rgba(0, 192, 48, 1);
}
.unit-name-view, .unit-name-view-small, .unit-name-view-icon {
  background-color: rgba(141, 207, 158, 1);
  border-color: rgba(0, 192, 48, 1);
}
.unit-name-box, .unit-name-box-small, .unit-name-box-icon {
  background-color: rgba(255, 255, 255, 0.75);
}
.unit-complete {
  background-color: rgba(255, 255, 136, 1);
}

.delete-button {
  background-color: rgba(255, 255, 255, 1);
}

.filter-checkbox-type.filter-checkbox-princess {
  border-color: rgba(255, 35, 131, 1);
}
.filter-checkbox-type.filter-checkbox-princess.checked {
  background-color: rgba(255, 35, 131, 1);
}
.filter-checkbox-type.filter-checkbox-fairy {
  border-color: rgba(2, 94, 253, 1);
}
.filter-checkbox-type.filter-checkbox-fairy.checked {
  background-color: rgba(2, 94, 253, 1);
}
.filter-checkbox-type.filter-checkbox-angel {
  border-color: rgba(255, 187, 0, 1);
}
.filter-checkbox-type.filter-checkbox-angel.checked {
  background-color: rgba(255, 187, 0, 1);
}
.filter-checkbox-type.filter-checkbox-selecting {
  border-color: rgba(136, 255, 136, 1);;
}
.filter-checkbox-type.filter-checkbox-selecting.checked {
  background-color: rgba(136, 255, 136, 1);
}
.type-name-box, .type-name-box-small, .type-name-box-icon {
  background-color: rgba(255, 255, 255, 0.75);
}

.changestyle-box, .changestyle-box-small, .changestyle-box-icon {
  border-color: rgba(204, 204, 204, 1);
}
.changestyle-box.checked, .changestyle-box-small.checked, .changestyle-box-icon.checked {
  background-color: rgba(204, 204, 204, 1);
}
.changestyle-name-box, .changestyle-name-box-small, .changestyle-name-box-icon {
  background-color: rgba(255, 255, 255, 0.75);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: rgb(30, 40, 55);
    color: #fff;
  }
  .header {
    background-color: rgb(60, 60, 60);
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
  }
  .idol-box, .idol-box-small {
    background-color: rgb(30, 40, 55);
  }
  .idol-name-box, .idol-name-box-small {
    background-color: rgba(30, 40, 55, 0.75);
    color: #fff;
  }

  .unit-table, .unit-table-small, .unit-table-icon {
    border-color: rgba(0, 105, 33, 1);
  }
  .unit-name-view, .unit-name-view-small, .unit-name-view-icon {
    background-color: rgba(141, 207, 158, 1);
    border-color: rgba(0, 105, 33, 1);
  }
  .unit-name-box, .unit-name-box-small, .unit-name-box-icon {
    background-color: rgb(30, 40, 55, 0.75);
  }
  .unit-complete {
    background-color: rgba(255, 255, 136, 1);
  }
  
  .delete-button {
    background-color: rgba(255, 255, 255, 1);
  }
  
  .filter-checkbox-type.filter-checkbox-princess {
    border-color: rgba(255, 35, 131, 1);
  }
  .filter-checkbox-type.filter-checkbox-princess.checked {
    background-color: rgba(255, 35, 131, 1);
  }
  .filter-checkbox-type.filter-checkbox-fairy {
    border-color: rgba(2, 94, 253, 1);
  }
  .filter-checkbox-type.filter-checkbox-fairy.checked {
    background-color: rgba(2, 94, 253, 1);
  }
  .filter-checkbox-type.filter-checkbox-angel {
    border-color: rgba(255, 187, 0, 1);
  }
  .filter-checkbox-type.filter-checkbox-angel.checked {
    background-color: rgba(255, 187, 0, 1);
  }
  .filter-checkbox-type.filter-checkbox-selecting {
    border-color: rgba(136, 255, 136, 1);
  }
  .filter-checkbox-type.filter-checkbox-selecting.checked {
    background-color: rgba(136, 255, 136, 1);
  }
  .type-name-box, .type-name-box-small {
    background-color: rgba(30, 40, 55, 0.75);
  }
  
  .changestyle-box, .changestyle-box-small, .changestyle-box-icon {
    border-color: rgba(204, 204, 204, 1);
  }
  .changestyle-box.checked, .changestyle-box-small.checked, .changestyle-box-icon.checked {
    background-color: rgba(204, 204, 204, 1);
  }
  .changestyle-name-box, .changestyle-name-box-small, .changestyle-name-box-icon {
    background-color: rgba(30, 40, 55, 0.75);
  }
}