body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
}

.header {
  background-color: rgb(60, 60, 60);
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  border: none;
  z-index: 1;
}
.headerButton {
  color: #fff;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  display: table;
  cursor : pointer;
}
.headerButton:hover {
  color: rgb(226, 226, 226);
}

.main {
  margin-top: 70px;
}

.container {
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 0 40px 0 40px;
}

.idolView {
  display: flex;
  flex-wrap: wrap;
}
.idolBox {
  border-radius: 5px;
  background-color: #fff;
  border: solid;
  border-width: 5px;
  min-width: 150px;
  max-width: 200px;
  margin: 5px;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor : pointer;
}
.idolImage {
  margin: 5px;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  background-size: contain;
}
.idolNameBox {
  flex: 1;
  font-size: 0.7em;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unitView {
  display: flex;
  flex-direction: column-reverse;
}
.unitBox {
  border-radius: 5px;
  position: relative;
  padding: auto;
}
.unitIdolView {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: auto;
}
.unitList {
  padding: 5px;
  margin: auto;
}
.unitTable {
  border: solid;
  border-color: rgb(0, 192, 48);
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
}
.unitName {
  background-color: #fff;
  border: solid;
  border-color: rgb(0, 192, 48);
  border-radius: 5px;
  min-width: 120px;
  margin: 5px;
  padding: 5px;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.unitName.checked {
  background-color: rgb(0, 192, 48);
  color: #fff;
}

.deleteButton {
  font-family: Helvetica Neue;
  font-size: 1em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
	top: 5px;
	right: 5px;
	width: 25px;
  height: 25px;
	cursor: pointer;
	border: 0;
	border-radius: 50%;
}

form {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}

.filterCheckboxType {
  flex: 1;
  width: 90px;
  padding: 5px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.boxContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 960px) {
  .container {
    padding: 0 15px 0 15px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 5px 0 5px;
  }
  .idolView {
    top: 0;
    left: 0;
  }
  .idolBox {
    justify-content: left;
    min-width: 150px;
    max-width: 320px;
  }
  .unitName {
    justify-content: left;
  }
  .boxContainer {
    text-align: left;
  }
}
