body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
}

.header {
  background-color: rgb(60, 60, 60);
  position: fixed;
  top: 0;
  left: 0;
  min-height: 60px;
  width: 100%;
  border: none;
  z-index: 1;
}
.headerView {
  display: flex;
}
.headerTitleView{
  margin: auto;
}
.headerTitleBox {
  color: #fff;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  display: table;
  cursor : pointer;
}
.headerTitleBox:hover {
  color: rgb(226, 226, 226);
}
.headerMenuView {
  flex: 1;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 5px;
}
.headerMenuBox {
  
}

.main {
  margin-top: 70px;
}

.container {
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 0 40px 0 40px;
}

.idolView {
  display: flex;
  flex-wrap: wrap;
}
.idolBox {
  border-radius: 5px;
  background-color: #fff;
  border: solid;
  border-width: 5px;
  min-width: 150px;
  max-width: 200px;
  margin: 5px;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor : pointer;
}
.idolImage {
  margin: 5px;
  border-radius: 5px;
  height: 35px;
  width: 35px;
  background-size: contain;
}
.idolNameBox {
  flex: 1;
  font-size: 0.7em;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unitView {
  display: flex;
  flex-direction: column-reverse;
}
.unitBox {
  border-radius: 5px;
  position: relative;
  padding: auto;
}
.unitIdolView {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: 0;
}
.unitList {
  padding: 5px;
  margin: auto;
}
.unitTable {
  border: solid;
  border-color: rgb(0, 192, 48);
  padding: 5px;
  margin: 5px 0;
  border-radius: 5px;
  display: flex;
}
.unitNameView {
  background-color: #8dcf9e;
  border: solid;
  border-color: rgb(0, 192, 48);
  border-radius: 5px;
  min-width: 120px; 
  max-width: 120px; 
  margin: 5px;
  padding: 5px;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.unitNameBox {
  font-size: 0.7em;
  background-color: rgba(255, 255, 255, 0.75);
  display: table;
  padding: 5px;
  border-radius: 5px;
}
.unitComplete {
  background-color: #ff8;
}

.deleteButton {
  font-family: Helvetica Neue;
  font-size: 1em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
	top: 5px;
	right: 5px;
	width: 25px;
  height: 25px;
	cursor: pointer;
	border: 0;
	border-radius: 50%;
}

form {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
}
.filterCheckboxType {
  flex: 1;
  border: solid;
  width: 90px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}
input[type="checkbox"], input[type="radio"] {
  display: none;
}
.filterCheckboxType.filterCheckbox-princess {
  border-color: #ff2383;
}
.filterCheckboxType.filterCheckbox-princess.checked {
  background-color: #ff2383;
}
.filterCheckboxType.filterCheckbox-fairy {
  border-color: #025efd;
}
.filterCheckboxType.filterCheckbox-fairy.checked {
  background-color: #025efd;
}
.filterCheckboxType.filterCheckbox-angel {
  border-color: #ffbb00;
}
.filterCheckboxType.filterCheckbox-angel.checked {
  background-color: #ffbb00;
}
.filterCheckboxType.filterCheckbox-selecting {
  border-color: #88ff88;;
}
.filterCheckboxType.filterCheckbox-selecting.checked {
  background-color: #88ff88;
}
.typeNameBox {
  flex: 1;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 0.7em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.changestyleBox{
  border: solid;
  border-color: #ccc;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  width: 90px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.changestyleBox.checked{
  background-color: #ccc;
}
.changestyleNameBox{
  flex: 1;
  background-color: rgba(255, 255, 255, 0.75);
  font-size: 0.7em;
  border-radius: 5px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxContainer {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 960px) {
  .container {
    padding: 0 15px 0 15px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 5px 0 5px;
  }
  .idolView {
    top: 0;
    left: 0;
  }
  .idolBox {
    justify-content: left;
    min-width: 150px;
    max-width: 320px;
  }
  .unitName {
    justify-content: left;
  }
  .boxContainer {
    text-align: left;
  }
}
