body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji
}

.header {
  background-color: rgb(60, 60, 60);
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  border: none;
  z-index:1;
}
.headerButton {
  color: #fff;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  display: table;
  cursor : pointer;
}
.headerButton:hover {
  color: rgb(226, 226, 226);
}

.main {
  margin-top: 70px;
}

.container {
  box-sizing: content-box;
  max-width: 1200px;
  margin: 0 auto 0 auto;
  padding: 0 40px 0 40px;
}

.idolView {
  display: flex;
  flex-wrap: wrap;
}
.idolBox {
  border-radius: 5px;
  min-width: 120px;
  max-width: 180px;
  min-height: 165px;
  margin: 5px;
  flex: 1;
  /*flex-grow: 0;*/
  display: flex;
  align-items: center;
  justify-content: center;
  cursor : pointer;
}
.idolImage {
  margin: 5px 0px 5px 0px;
  border-radius: 5px;
}
.idolNameBox {
  font-size: 1em;
  background-color: #fff;
  padding: 10px;
  margin: 0px auto 5px auto;
  display: table;
  border-radius: 5px;
}

.unitView {
  display: flex;
  flex-direction: column-reverse;
}
.unitBox {
  border-radius: 5px;
  position: relative;
  padding: 10px;
  margin: 10px;
}
.unitIdol {
  font-size: 1em;
  background-color: #fff;
  padding: 10px;
  display: table;
  border-radius: 5px;
}
.unitList {
}
.unitTable {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  border-radius: 5px;
}
.unitName {
  background-color: #fff;
  border: solid;
  border-color: rgb(0, 192, 48);
  border-radius: 5px;
  min-width: 120px;
  max-width: 120px;
  min-height: 50px;
  margin: 5px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteButton {
  font-family: Helvetica Neue;
  font-size: 1em;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
	top: 10px;
	right: 10px;
	width: 25px;
  height: 25px;
	cursor: pointer;
	border: 0;
	border-radius: 50%;
}

.checked {
  background-color: #000;
}
.boxContainer {
  text-align: center;
}

@media (max-width: 960px) {
  .container {
    padding: 0 30px 0 30px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 0 15px 0 15px;
  }
  .idolView {
    top: 0;
    left: 0;
  }
  .idolBox {
    min-width: 100%;
    min-height: 75px;
    justify-content: left;
    margin: 5px 0;
  }
  .idolImage {
    flex: 1;
    margin: 15px;
    max-height: 52px;
    max-width: 52px;
  }
  .idolNameBox {
    flex: 1;
    margin: 15px;
  }
  .unitName {
    min-height: 75px;
    justify-content: left;
    margin: 5px 0;
  }
  .boxContainer {
    min-width: 100%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
}